*{overflow:auto;}

.border{
    border: 2px solid red;
}
.center {
    margin: auto;
    width: 60%;
    
    padding: 10px;
  }

  .right {
    float: right;
    
    
  }

  .left {
    float :left;
    
    
  }
  .clearfix {
    overflow: auto;
    
  }
  .emlakyazisi{
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    color: #3e3e3e;
    font:  "Lucida Grande","LucidaGrande",Arial,sans-serif;
    text-size-adjust: none;
  }
  .emlakkategorileri{
    width: 204px;
    height: 256px;
    padding: 0px;
    top: 0px;
    left: 0px;
    
  }
  .emlakkategorileri li {
    font-size: 13px;
    line-height: 23px;
    display: list-item;
    list-style: none;
    font:  "Lucida Grande","LucidaGrande",Arial,sans-serif;
  }
  .konutfiltre{

    background-image:url("../pics/emlak/konut.png"); width: 908px; height: 340px; ;
    
  }
  .emlakvitrin{
      width: 60%;
  }
  div{border:3px solid yellow}

  .ilan{
    
    text-align: justify;
    width:108px;
    display: inline-block;
   
  }

  .ilanler img{
    display: block;
    margin: 0 auto;
  }
  .magaza-vitrin{

  }
  .magaza-vitrin img{
    height: 35px;
    padding: 10px;
    width: 95px;
    
  }
.sarikutu{

  width: 818px;
  height: 131px;
  background-color: rgba(247,247,247,0.9);
  border-radius: 2px;
  border-top: 6px solid #ecc40c;
  position: relative;
  top: 180px;
  left:40px;
}

.sariust{

  padding: 18px 20px 0 20px;
  position: relative;
}
.sarialt{
  
}
.sarialt input{
 width:80px;
 margin:10px;
 margin-left: 20px;
 
}