* {
  overflow: auto;
  padding: 0px;
  margin: 0px;
}

div {
  border: 1px solid red;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.right {
  float: right;
  width: 80%;
}

.left {
  float: left;
  width: 18%;
}
.ilan {
  height: 78px;
  font: 12px "Lucida Grande", "LucidaGrande", Arial, sans-serif;
  width: 900px;
}
.ilan img {
  float: left;
}
.ilan ilanbaslik {
  float: left;
  width: 500px;
}
.ilan fiyat {
  width: 100px;
}
.ilan tarih {
  width: 100px;
}
.ilan il {
  width: 100px;
}
kategoriler {
  border: solid 5px #dedede;
}
.soldakikutularortak {
  padding: 10px;
  margin-top: 20px;
  width: 180px;
  background: rgb(244, 244, 244);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;
}

.myselectbox {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 60%;
}

.kat1{
  display: block;
  padding: 2px;
  padding-left: 10px;

}
.kat2{
  display: block;
  padding: 2px;
  padding-left: 20px;
}
.kat3{
  display: block;
  padding: 2px;
  padding-left: 30px;
}
.kategoriler span{
  color: #a1a1a1;
  font-size: 13px;
}
.kategoriler a{
  text-decoration:none
}
.left h3{
  margin-top: 10px;
}
.fiyatfiltre{

}
.fiyatfiltre button{
  width: 46PX;
  height: 25px;
  float: right;
  border: 1px solid #fff;;
}

.fiyatfiltre button:hover{
  background-color: #039;;
}
.fiyatfiltre button.active{
  background-color: #039;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  
  border: 3px solid #73AD21;
  
}
.butimg{
  width: 200px;

}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}