.center {
  margin: auto;
  width: 60%;
  border: 3px solid green;
  
}
.right {
  float: right;
  width: 73%;
  border: 3px solid #73AD21;
  
}
.left {
  float: left;
  width: 25%;
  border: 3px solid #73AD21;
  
}
.clearfix {
  overflow: auto;
}

kutu {
	padding:10px;
	float:left;
    text-align: justify;
    width: 100;
}

kutu img {
    display: block;
    margin: 0 auto;
}