h2,p,ul,li,a{margin:0;padding:0;}
ul{list-style:none;}
a{color:#039;text-decoration:none;outline:0;}
a:focus{outline:0;}
a:hover{text-decoration:underline;}

body{font:12px "Lucida Grande","LucidaGrande",Arial,sans-serif;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
-webkit-text-size-adjust:none;
-moz-text-size-adjust:none;
-ms-text-size-adjust:none;
text-size-adjust:none;
background:#fff;
}

.pvdef{
padding-top:15px;
padding-bottom:15px;
padding-left:15px;
padding-right:15px;
}

.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

.footer-container{border-top:1px solid #dfdfdf;background:#f9f9f9;position:relative;clear:left;margin-top:28px;}
.footer-container:before{content:'';background:#fff;display:block;height:1px;width:100%;}
.footer-container .footer{width:984px;margin:0 auto;zoom:1;padding:28px 0;}
.footer-container .footer .footer-menu{float:left;overflow:hidden;width:100%;}
.footer-container .footer .footer-menu li{float:left;width:21%;margin-bottom:6px;}
.footer-container .footer .footer-menu li.follow-us{float:right;margin-right:25px;width:130px;}
.footer-container .footer .footer-menu li li{float:none!important;line-height:20px;width:inherit;overflow:hidden;}
.footer-container .footer .footer-menu a{color:#888;}
.footer-container .footer h2{font-size:14px;font-weight:bold;color:#555;}
.footer-container .footer h2+ul{margin-top:12px;}
.footer-container .footer .contact-menu li{float:left;padding-left:50px;margin:30px 40px 10px 0;font-weight:700;position:relative;}
.footer-container .footer .contact-menu li p{color:#c55353;margin-top:2px;}
.footer-container .footer .contact-menu li:before{position:absolute;left:0;top:-3px;}


.footer-container .footer .follow-us li{float:left;}
.footer-container .footer .warning-text{font-size:11px;color:#888;padding:12px;background:#fff;border:1px dashed #ccc;border-radius:2px;margin:8px 0;}
.footer-container .footer .copyright,.footer-container .footer .post-classified-free-text{color:#555;font-size:11px;}
.footer-container .footer .post-classified-free-text{margin:0;float:right;}
.footer-container .footer .post-classified-free-text p{display:inline;}
