.tual { width: 1179px; margin:0 auto; background-color: white; }
.sol_menu { width:550px; height: 575; float:left; background-color: aqua;  }
.sag_icerik { width: 329px; height: 575px; float:left; background-color: white; }
.sag_icerik2 { width: 300px; height: 525px; float:left; background-color: red; }
.solkutu{width:150px; float:left;}